<div class="card" >
  <div class="card-body">
    <h3 class="card-title text-center"> </h3>
    <h5 class="card-text text-center"></h5>
    <h4 class="card-text text-center"><% if @user.admin == true %><span class="badge badge-pill badge-secondary">Admin</span><% end %></h4>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Email:</strong>  <%= @user.email %></li>
      </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group list-group-flush">


      </ul>
      </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
        <%= link_to '<i class="fas fa-users"></i> Back to users'.html_safe, users_path, class: "btn btn-outline-secondary btn-sm btn-block" %>
        </div>
        <div class="col-md-6">
        <%= link_to '<i class="fas fa-user-edit"></i> Edit user'.html_safe, edit_user_path(@user), class: "btn btn-outline-primary btn-sm btn-block" %>
        </div>
      </div>

  </div>
</div>
<br>
