<h1 align="center">Edit Client</h1>

<%= render 'form', client: @client %>
<br>
<div class="float-left col-md-4"><%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, clients_path, class: "btn btn-outline-secondary btn-sm btn-block "%></div>
<div class="float-right col-md-4"> <%= link_to '<i class="far fa-eye"></i> View'.html_safe,  @client, class: "btn btn-outline-primary btn-sm btn-block"%></div>

