<h1 align="center">New Project</h1>

<%= render 'form', project: @project %>

<div class="col-md-8 offset-md-2">
  <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe,
  'javascript:history.back()', class: "btn btn-outline-secondary btn-sm btn-block "%>
</div>
